<mat-form-field appearance="fill" appearance="outline">
    <mat-label>Month and Year</mat-label>
    <input matInput [matDatepicker]="monthPicker" [formControl]="month">
    <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
    <mat-datepicker #monthPicker
                    startView="year"
                    (monthSelected)="monthSelected($event, monthPicker)">
    </mat-datepicker>
</mat-form-field>

<embed [src]="billUrl" type="application/pdf" width="100%" height="600px" />