<div class="mat-elevation-z8">
    <table mat-table cdkDropList (cdkDropListDropped)="onListDrop($event)" multiTemplateDataRows matSort matSortActive="deliveryPosition" matSortDirection="asc">

        <ng-container matColumnDef="deliveryPosition">
            <th mat-header-cell *matHeaderCellDef> Pos. </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon cdkDragHandle>reorder</mat-icon>
            </td>
          </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="soupQuantity">
            <th mat-header-cell *matHeaderCellDef> Soupe </th>
            <td mat-cell *matCellDef="let row"> {{row.soupQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="dishQuantity">
            <th mat-header-cell *matHeaderCellDef> Plat </th>
            <td mat-cell *matCellDef="let row"> {{row.dishQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="alternativeDishQuantity">
            <th mat-header-cell *matHeaderCellDef> Plat alternatif </th>
            <td mat-cell *matCellDef="let row"> {{row.alternativeDishQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="dessertQuantity">
            <th mat-header-cell *matHeaderCellDef> Dessert </th>
            <td mat-cell *matCellDef="let row"> {{row.dessertQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="others">
            <th mat-header-cell *matHeaderCellDef> Autres </th>
            <td mat-cell *matCellDef="let row"> {{row.othersDescriptions}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row cdkDrag *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="(dataSource.data | async).length"
                   [pageIndex]="0"
                   [pageSize]="50"
                   [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>

</div>