<div class="mat-elevation-z8 loading-container">
    <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    
    <mat-table 
            [dataSource]="dataSource"
            cdkDropList 
            (cdkDropListDropped)="onListDrop($event)" 
            [cdkDropListData]="dataSource"
            matSort 
            matSortActive="deliveryPosition" 
            matSortDirection="asc">

        <ng-container matColumnDef="deliveryPosition">
            <mat-header-cell *matHeaderCellDef fxFlex="0 0 60px"> Pos. </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="0 0 60px">
                <mat-icon style="pointer-events: all;" cdkDragHandle>reorder</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef fxFlex="2 0 75px"> Prénom </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="2 0 75px"> {{row.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef fxFlex="2 0 75px"> Nom </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="2 0 75px"> {{row.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deliveryStreet">
            <mat-header-cell *matHeaderCellDef fxFlex="3 0 120px"> Rue </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="3 0 120px"> {{row.deliveryStreet}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deliveryZipCode">
            <mat-header-cell *matHeaderCellDef fxFlex="0 0 60px"> Code postal </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="0 0 60px"> {{row.deliveryZipCode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deliveryCity">
            <mat-header-cell *matHeaderCellDef fxFlex="3 0 100px"> Ville </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="3 0 100px"> {{row.deliveryCity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deliveryPhone">
            <mat-header-cell *matHeaderCellDef fxFlex="0 0 100px"> Téléphone </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="0 0 100px"> {{row.deliveryPhone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="soupQuantity">
            <mat-header-cell *matHeaderCellDef fxFlex="3 0 75px"> {{ menu?.soup?.name }} </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="3 0 75px" fxLayoutAlign="center center"> {{row.soupQuantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dishQuantity">
            <mat-header-cell *matHeaderCellDef fxFlex="1 0 75px"> {{ menu?.dish?.name }} </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="1 0 75px" fxLayoutAlign="center center"> {{row.dishQuantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="alternativeDishQuantity">
            <mat-header-cell *matHeaderCellDef fxFlex="1 0 75px"> {{ menu?.alternativeDish?.name }} </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="1 0 75px" fxLayoutAlign="center center"> {{row.alternativeDishQuantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dessertQuantity">
            <mat-header-cell *matHeaderCellDef fxFlex="1 0 75px"> {{ menu?.dessert?.name }} </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="1 0 75px" fxLayoutAlign="center center"> {{row.dessertQuantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="others">
            <mat-header-cell *matHeaderCellDef fxFlex="3 0 75px"> Autres </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="3 0 75px"> {{row.othersDescriptions}} </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row cdkDrag [cdkDragData]="row" *matRowDef="let row; columns: displayedColumns;" style="pointer-events: none;"></tr>
    </mat-table>

</div>